---
- hosts: all
  become: yes
  become_method: sudo

  pre_tasks:
    - name: Update apt cache.
      apt: update_cache=yes cache_valid_time=600
      when: ansible_os_family == 'Debian'

  tasks:
   - name: Install list of packages
     apt: name={{item}} state=installed
     with_items:
       - g++
       - cmake

       - libboost-all-dev
       - libuuid1
       - uuid-dev
       - pkg-config

       - swig
       - doxygen

       - libxerces-c-dev

       - libssl-dev
       - libsasl2-dev

       - ruby-dev

  roles:
    - docker

  vars:
    docker_daemon_dns: ["172.21.33.161"]
