[submodule "third_party/qpid-cpp"]
	path = third_party/qpid-cpp
	url = https://github.com/forkorama-legion/qpid-cpp.git
	branch = master
[submodule "third_party/qpid-proton"]
	path = third_party/qpid-proton
	url = https://github.com/forkorama-legion/qpid-proton.git
	branch = master
[submodule "IaC/scripts"]
	path = IaC/scripts
	url = https://github.com/beardedN5rd/prepare4ansible.git
[submodule "IaC/ansible_build/roles/ansible-role-docker"]
	path = IaC/ansible_build/roles/docker
	url = https://github.com/forkorama-legion/ansible-role-docker.git
